<!DOCTYPE html>
<html>
<head>
  <title>Kalyanamittas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice.present? %>
    <!-- allert alert-info bootstrap to allow notice to stand out -->
    <p class= "alert alert-info"><%= notice %></p>
<% end %>

<%= yield %>

</body>
</html>
