<%= simple_form_for @pin, html: { multipart: true} do |f| %>
    <% if @pin.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@pin.errors.count, "error") %> prohibited
            this pin from being saved:
          </h2>

          <ul>
            <% @pin.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p class= 'form-group'>
        <%= f.input :title, input_html: { class: 'form-control' } %>
    </p>

    <p class= 'form-group'>
        <%= f.input :description, input_html: { class: 'form-control' } %><br>
    </p>

    <p class= 'form-group'>
        <%= f.submit "Pin", class: 'btn btn-primary' %>
    </p>

<% end %>
